pkgbase = yap-dictation
	pkgdesc = Local-first voice dictation for Wayland and Hyprland
	pkgver = 0.0.12
	pkgrel = 1
	url = https://github.com/kylescudder/yap
	install = yap.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = curl
	depends = gcc-libs
	depends = ggml-cpu
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = gtk4
	depends = gtk4-layer-shell
	depends = hicolor-icon-theme
	depends = hyprland
	depends = libayatana-appindicator
	depends = llama-cpp
	depends = pango
	depends = pipewire-audio
	depends = python
	depends = python-gobject
	depends = systemd
	depends = whisper-cpp
	depends = wireplumber
	depends = wl-clipboard
	depends = wtype
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-hyprland
	optdepends = ggml-cuda: NVIDIA CUDA acceleration for both local models
	conflicts = yap
	conflicts = yap-linux-dev
	conflicts = yap-linux-dev-debug
	options = !debug
	source = yap-dictation-0.0.12.tar.gz::https://github.com/kylescudder/yap/archive/c9f9829a381acb83baba524e22ad037c9903c184.tar.gz
	sha256sums = 720340a41fdd079c068e206e39ba86b7b51270bf34b1dc8534149ee236778d2a

pkgname = yap-dictation
