pkgbase = yap-dictation
	pkgdesc = Local-first voice dictation for Wayland and Hyprland
	pkgver = 0.0.12
	pkgrel = 1
	url = https://github.com/kylescudder/yap
	install = yap.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = curl
	depends = gcc-libs
	depends = ggml-cpu
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = llama-cpp
	depends = pipewire-audio
	depends = python
	depends = python-gobject
	depends = systemd
	depends = whisper-cpp
	depends = wireplumber
	depends = wl-clipboard
	depends = wtype
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-hyprland
	optdepends = ggml-cuda: NVIDIA CUDA acceleration for both local models
	provides = yap
	conflicts = yap
	conflicts = yap-linux-dev
	conflicts = yap-linux-dev-debug
	options = !debug
	source = yap-dictation-0.0.12.tar.gz::https://github.com/kylescudder/yap/archive/88c797e6df0768a4e3d5900bb675915615848135.tar.gz
	sha256sums = dfab744bfe2db72866aea49c81a06d772788a0319a1f69c2e7625a81e44dd552

pkgname = yap-dictation
