pkgbase = yap-dictation
	pkgdesc = Local-first voice dictation for Wayland and Hyprland
	pkgver = 0.0.11
	pkgrel = 1
	url = https://github.com/kylescudder/yap
	install = yap.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = curl
	depends = gcc-libs
	depends = ggml-cpu
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = llama-cpp
	depends = pipewire-audio
	depends = python
	depends = python-gobject
	depends = systemd
	depends = whisper-cpp
	depends = wireplumber
	depends = wl-clipboard
	depends = wtype
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-hyprland
	optdepends = ggml-cuda: NVIDIA CUDA acceleration for both local models
	provides = yap
	conflicts = yap
	conflicts = yap-linux-dev
	conflicts = yap-linux-dev-debug
	options = !debug
	source = yap-dictation-0.0.11.tar.gz::https://github.com/kylescudder/yap/archive/fc1bd5a3d1df98787359187d2cf6d563f2120314.tar.gz
	sha256sums = e630d8a93aeed90429e15f5cdf37310ad5adb60d0443f9edaafc1c4db8c49181

pkgname = yap-dictation
